# R stuff
.Rproj.user
.Rhistory
.RData
.Ruserdata

# R output stuff
**_files/*
Output/*
*.html

# Graphics (for now)
Graphics/*

# Data
Data/*.xls*
Data/map_data/*
Data/*.docx
Data/quotes/2016*
Data/quotes/*.csv
Data/**.ods
